.nav{
  background-color: orangered;
  display: flex;
  justify-content: space-between;
}
.nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav a{
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  display: block;
}
.nav a:hover{
  background-color: rgb(177, 32, 32);
}